<section id="whatwesell" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-title">WHAT WE SELL?</h2>
        <p class="section-description">
          Our mission is to provide the best choices in nutritional supplements for health and wellness, body care products, organic
          foods and herbs. If you require assistance, one of our friendly and knowledgeable staff members will be happy to
          help you find that perfect remedy or supplement to cater to your needs and individual goal.
        </p>
        <hr class="bottom-line">
      </div>

    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="service-item pb-25">
          <h3>
            <span>V</span>itamins & Supplements</h3>
          <div class="item-picture-box-container">
            <div class="picture-box-container">
              <div class="picture-box">
                <img src="assets/images/vitamin.png" alt="vitamin & supplements">
              </div>
            </div>
            <div class="text-box-container">
              We carefully choose the supplements we carry from highly-reputable brands; ensuring that each purchase you make will be pure,
              high quality, and effective.

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="service-item pb-25">
          <h3>
            <span>H</span>erbs</h3>
          <div class="item-picture-box-container">
            <div class="picture-box-container">
              <div class="picture-box">
                <img src="assets/images/herb.png" alt="Natural herb">
              </div>
            </div>
            <div class="text-box-container">
              To offer a wide assortment of organic and conventional culinary herbs and specialties including Basil, Bay Leaf, Chives,
              Cilantro, Dill, Marjoram, Mint, Oregano, Rosemary, Tarragon, Thyme, and many, many more!

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="service-item pb-25">
          <h3>
            <span>N</span>atural Foods</h3>
          <div class="item-picture-box-container">
						<div class="picture-box-container">
							<div class="picture-box">
								<img src="assets/images/organicfood.png" alt="organic food">
							</div>
						</div>
            <div class="text-box-container">
              Specializing in organic and conventional cooking, baking, and snacking needs
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="service-item pb-25">
          <h3>
						<span>M</span>uch more</h3>
						<div class="item-picture-box-container">
								<div class="picture-box-container">
									<div class="picture-box">
										<img src="assets/images/other.png" alt="organic food">
									</div>
								</div>
								<div class="text-box-container">
										Homeopathic Remedies & Products, Aromatherapy & Essential Oils, 
										Natural Weight Loss Supplements, 
										Natural Health Food Products for Allergies, 
										Natural Bath Products ... and much more.
								</div>
							</div>
        </div>
      </div>
    </div>
  </div>

<div class="container company-logos">
  <div class="row">
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/aor-logo.png">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/douglas.jpg">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/bpisports.jpg">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/genestrabrands.png">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/dermae.png">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/Genuine-Health.png">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/Natural-Factors.png">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/now.png">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/progressive.png">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/vega.png">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/RenewLifeRev.png">
		</div>
		<div class="company-img-container">
				<img class="company-img" src="assets/images/company/allmax-nutrition-logo.png">
		</div>
	</div>
</div>

</section>
