<section id="services" class="section-padding service-section">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h2 class="section-title">WHAT WE DO?</h2>
              <p class="section-description">How to manage your health and Dr. Song Hye Won H.D., R.Ac. treat the root cause of health issues using a variety of therapies including</p>
              <hr class="bottom-line">
          </div>
      </div>

    <div class="row equal " >
      <div class="col-lg-4 col-md-6 mt-50">
        <div class="box">
          <div class="icon"><a><i class="fa fa-balance-scale"></i></a></div>
          <h4 class="title"><a>Nutrition Consultation</a></h4>
          <p class="description">
                  A nutrition counseling session may never be like getting a massage, but it doesn’t have to be torture, either. A good nutrition consultation shouldn’t feel like a lecture about what you should be doing, and you shouldn’t feel as though you’re being scolded or judged on your eating habits, either. Rather, we take the time to listen closely and to understand where you are right now in terms of your lifestyle and diet, and work with you to help achieve your goals.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-50">
        <div class="box">
          <div class="icon"><a><i class="fa fa-stethoscope"></i></a></div>
          <h4 class="title"><a>Homeopathy Consultation</a></h4>
          <p class="description">
                  Homeopathy, or homeopathic medicine, is a medical philosophy and practice based on the idea that the body has the ability to heal itself. Homeopathy was founded in the late 1700s in Germany and has been widely practiced throughout Europe. Homeopathic medicine views symptoms of illness as normal responses of the body as it attempts to regain health.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-50">
        <div class="box">
          <div class="icon"><a><i class="fa fa-heart"></i></a></div>
          <h4 class="title"><a>Acupuncture</a></h4>
          <p class="description">
                  Acupuncture stimulates the balance and flow of Qi energy that in Traditional Chinese Medicine is considered essential to health. When the body is healthy, Qi (pronounced chee), flows smoothly through the meridians that make up a conceptual network of pathways throughout the entire body. When the balance or flow of Qi is deficient or obstructed it may be diseased or susceptible to illness. Acupuncture treats both the symptoms and the root causes of the patient’s illness.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-25">
      <div class="row">
        <div class="col-12">
          <p><img src="assets/images/hyewon.png" alt="" title="" class="box_img"> Dr. Song Hye Won</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
              <ul>	
                  <li>Seoul Yonsei University Clinical Pathology B.Sc, M.S.</li>
                  <li>Ontario College of Homeopathic Medicine: 2002 H.D.</li>
                  <li>Canadian College of Holistic Health: 2007 R.Ac.</li>
                  <li>Homeopathic Doctor {{nYear}} years in experience</li>
                  <li>Member of Ontario Homeopathic Association since 2002</li>
                  <li>Ontario Council of Acupuncture and Chinese Medicine since 2007</li>
                  <li>Member of College of Traditional Chinese Medicine Practitioners and Acupuncturists of Ontario</li>
                  <li>BioSET Practitioner</li>
                  <li>Chung-Ang Hospital: Asan Institute of Biological Sciences researcher</li>
                  <li>Certified Medical Laboratory Technician (1996)</li>
              </ul>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12" >
              <ul class="list-check green-check">
                  <li><i class="fa fa-check-circle-o"></i> Any symptoms from stress.</li>
                  <li><i class="fa fa-check-circle-o"></i> Any allergy symptoms.</li>
                  <li><i class="fa fa-check-circle-o"></i> Fibromyalgia /Rheumatoid Arthritis/ Osteoarthritis.</li>
                  <li><i class="fa fa-check-circle-o"></i> Children’s health</li>
                  <li><i class="fa fa-check-circle-o"></i> Anxiety/panic disorder, depression.</li>
                  <li><i class="fa fa-check-circle-o"></i> Insomnia</li>
                  <li><i class="fa fa-check-circle-o"></i> Pain relief</li>
                  <li><i class="fa fa-check-circle-o"></i> Increased energy</li>
                  <li><i class="fa fa-check-circle-o"></i> Improved mood & body function</li>
              </ul>
          </div>
      </div>
  </div>
</section>