<section id="contactus" class="section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h2 class="section-title">KEEP IN TOUCH WITH US</h2>
              <p class="section-description">4218 Lawrence Ave East Unit 1, Scarborough, Ontario M1E 4X9<br> (416) 282-4447</p>
              <hr class="bottom-line">
          </div>

      </div>
      <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
              <h4 class="open-hours">OPENING HOURS</h4>
              <div><div class="open-day">Monday</div><div class="open-hour">10:00 am - 7:00 pm</div></div>
              <div><div class="open-day">Tuesday</div><div class="open-hour">10:00 am - 7:00 pm</div></div>
              <div><div class="open-day">Wednesday</div><div class="open-hour">10:00 am - 7:00 pm</div></div>
              <div><div class="open-day">Thursday</div><div class="open-hour">10:00 am - 7:00 pm</div></div>
              <div><div class="open-day">Friday</div><div class="open-hour">10:00 am - 7:00 pm</div></div>
              <div><div class="open-day">Saturday</div><div class="open-hour">10:00 am - 6:00 pm</div></div>
              <div><div class="open-day">Sunday</div><div class="open-hour">Close</div></div>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.172123587457!2d-79.18722994878617!3d43.76928575283174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4da892568d569%3A0x77643ad9d084a844!2sMorningside+Health+Foods!5e0!3m2!1sen!2sca!4v1521206414249" 
              width="100%" height="400" frameborder="0" style="border:0" allowfullscreen>
              </iframe>
          </div>
      </div>
  </div>

</section>